body {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  margin: 0;
}
.container {
  display: flex;
  gap: 1.5rem;
}
.container img {
  object-fit: cover;
  height: 250px;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px;
  border-radius: 9999px;
}
.container img.expanded {
  width: 400px;
  border-radius: 1.5rem;
  z-index: 10;
  position: relative;
}
